<footer id="footer" class="container">
    <div class="row 200%">
    	<div class="12u">
    
    		<!-- About -->
    
    		<!-- Contact -->
    			<section>
    				<h2 class="major"><span>Get in touch</span></h2>
    				<ul class="contact">
    					<li><a class="icon fa-facebook" href="#"><span class="label">Facebook</span></a></li>
    					<li><a class="icon fa-twitter" href="#"><span class="label">Twitter</span></a></li>
    					<li><a class="icon fa-instagram" href="#"><span class="label">Instagram</span></a></li>
    				</ul>
    			</section>
    
    	</div>
    </div>
    
    <!-- Copyright -->
    	<div id="copyright">
    		<ul class="menu">
    			<li>&copy;OTJ Projects (Pty) Ltd</li><li>Design: <a href="http://www.mokonemediahouse.com"  target="_blank" rel="noopener noreferrer" >Mokone Media House (Pty) Ltd </a></li>
    		</ul>
    	</div>

</footer>