<nav id="nav">
	<ul>
		<li class="current">
		<a href="index.html">
		 
		<image src="images/logo/logo.png" height="40"/>
		</a></li>
		<li>
			<a href="#">About Us</a>
			<ul>
				<li><a href="Our story.html">Our Story</a></li>
				<li><a href="Mission.html">Mission</a></li>
				<li><a href="Vision.html">Vision</a></li>
				<li><a href="Values.html">Values</a></li>
			</ul>
		</li>
		<li><a href="Services.html">Services</a></li>
		<li><a href="Gallery.html">Gallery</a></li>
		<li><a href="Contact Us.html">Contact Us</a></li>
	</ul>
</nav>